<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    <div
        style="Margin:0;box-sizing:border-box;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
        <span
            style="color:#f3f3f3;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden">Please
            verify your email by
            tapping this button
            below</span>
        <table
            style="Margin:0;background:#f3f3f3;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
            <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td align="center"
                        style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;direction:ltr;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                        <table align="center"
                            style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;border-top:6px solid #8cc63f;margin:30px auto!important;max-width:600px;min-width:auto;padding:0;text-align:inherit;vertical-align:top;width:100%!important">
                            <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td
                                        style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">

                                        <table
                                            style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                    <th
                                                        style="Margin:0 auto;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:30px;padding-right:30px;padding-top:25px;text-align:left;width:570px">
                                                        <table
                                                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                            <tbody>
                                                                <tr
                                                                    style="padding:0;text-align:left;vertical-align:top">
                                                                    <th
                                                                        style="Margin:0;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                        <center
                                                                            style="min-width:auto!important;width:100%">
                                                                            <a href="http://email.web.go-jek.com/c/eJxNjcsOgyAQRb9GdiXM8HTBojH6H8Cg2Io2xoTfr901uTmbk5xLflYUIbHVo4Ae4KZQPSgOXE6gRtkbHKRBMQ6dEi1HvhyPV37zdFRWPGnUJhqnbYDswNlZEpGMJqDIziW2-XJdn04-O5zutdb-A6c_j1LDTplyQXs_LDWs2899AZN4LNE"
                                                                                align="center"
                                                                                style="Margin:0;background:url(https://ci6.googleusercontent.com/proxy/73g4rzgOyG8ni9MgcEm-T5VH7kwtSNsjparKC47Z88Ti-qId0hz5C-cSVTh-DB47pb3ZM9XzOEC8AT9sgXTt0NDdmb_s18TE-uA=s0-d-e1-ft#http://customer-platform.imgix.net/email/email_logo.png) no-repeat center center;background-size:130px;color:#2199e8;display:block;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-weight:400;height:50px;line-height:1.3;margin:0 auto;padding:0;text-align:left;text-decoration:none"
                                                                                target="_blank"
                                                                                data-saferedirecturl="https://www.google.com/url?q=http://email.web.go-jek.com/c/eJxNjcsOgyAQRb9GdiXM8HTBojH6H8Cg2Io2xoTfr901uTmbk5xLflYUIbHVo4Ae4KZQPSgOXE6gRtkbHKRBMQ6dEi1HvhyPV37zdFRWPGnUJhqnbYDswNlZEpGMJqDIziW2-XJdn04-O5zutdb-A6c_j1LDTplyQXs_LDWs2899AZN4LNE&amp;source=gmail&amp;ust=1574389482269000&amp;usg=AFQjCNE9OJJwFDVXxKYVL1CsOU3ZkdWeWw"></a>
                                                                        </center>
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table
                                            style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                    <th
                                                        style="Margin:0 auto;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:30px;padding-right:30px;padding-top:25px;text-align:left;width:570px">
                                                        <table
                                                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                            <tbody>
                                                                <tr
                                                                    style="padding:0;text-align:left;vertical-align:top">
                                                                    <th
                                                                        style="Margin:0;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                    </th>
                                                                    <td
                                                                        style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%;word-wrap:break-word">
                                                                        <h5
                                                                            style="Margin:0;Margin-bottom:10px;color:inherit;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:10px;font-weight:700;line-height:1.3;margin:0;margin-bottom:2px;padding:0;text-align:left;text-transform:uppercase;word-wrap:normal">
                                                                            TANGGAL
                                                                        </h5>
                                                                        <span
                                                                            style="color:#757575;font-size:14px;letter-spacing:-.5px">20
                                                                            November
                                                                            2019</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </th>
                                                    <th
                                                        style="Margin:0;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;width:0">
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table
                                            style="border-collapse:collapse;border-spacing:0;display:table;margin-top:30px;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                    <th
                                                        style="Margin:0 auto;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:30px;padding-right:30px;text-align:left;width:570px">
                                                        <table
                                                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                            <tbody>
                                                                <tr
                                                                    style="padding:0;text-align:left;vertical-align:top">
                                                                    <th
                                                                        style="Margin:0;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                        <p
                                                                            style="Margin:0;Margin-bottom:10px;color:#757575;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:28px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                            Halo
                                                                            <strong
                                                                                style="color:#222">abdurrohman</strong>,
                                                                        </p>
                                                                        <p
                                                                            style="Margin:0;Margin-bottom:10px;color:#757575;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:28px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                            Mohon
                                                                            verifikasi
                                                                            alamat
                                                                            email
                                                                            Anda
                                                                            dengan
                                                                            cara
                                                                            menekan
                                                                            tombol
                                                                            di
                                                                            bawah.
                                                                            Email
                                                                            yang
                                                                            telah
                                                                            diverifikasi
                                                                            akan
                                                                            mempermudah
                                                                            kami
                                                                            untuk
                                                                            menghubungi
                                                                            Anda
                                                                            jika
                                                                            nomor
                                                                            telepon
                                                                            yang
                                                                            terdaftar
                                                                            tidak
                                                                            dapat
                                                                            dihubungi.
                                                                        </p>
                                                                        <table
                                                                            style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;margin:40px auto;padding:0;text-align:center;vertical-align:top;width:auto">
                                                                            <tbody>
                                                                                <tr
                                                                                    style="padding:0;text-align:left;vertical-align:top">
                                                                                    <td
                                                                                        style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                        <table
                                                                                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                                            <tbody>
                                                                                                <tr
                                                                                                    style="padding:0;text-align:left;vertical-align:top">
                                                                                                    <td
                                                                                                        style="Margin:0;background:0 0;border:none;border-collapse:collapse!important;color:#fefefe;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                                        <a href="http://email.web.go-jek.com/c/eJwljstuxCAMRb8m2RVhTHgssqjS5D9MgIR2CBGT0fx-SStZ9r1eHB0_RukdrH0aBQcL0DaXFiQDhgvIGa0SEyrB56mT_B0c28rHd_hha8n9PnqjB4zcugCALnDLnTFBD9oioVK6f4z7dZ3PDj87sbShMzXCP4Al3z5_rd319bxKDvWOOx1bmDOlx1SOmGqmK5Wjw-WkSrnDL-H04BGUGqRbB6UJSUZFxnARnV5NX8da9kyHDz7sQjf37cbd2r89oUli"
                                                                                                            style="Margin:0;background-color:#8cc63f;border:2px solid #74ad29;border-radius:4px;color:#fefefe;display:inline-block;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;letter-spacing:1px;line-height:1.3;margin:0;padding:8px 16px 8px 16px;text-align:left;text-decoration:none"
                                                                                                            target="_blank"
                                                                                                            data-saferedirecturl="https://www.google.com/url?q=http://email.web.go-jek.com/c/eJwljstuxCAMRb8m2RVhTHgssqjS5D9MgIR2CBGT0fx-SStZ9r1eHB0_RukdrH0aBQcL0DaXFiQDhgvIGa0SEyrB56mT_B0c28rHd_hha8n9PnqjB4zcugCALnDLnTFBD9oioVK6f4z7dZ3PDj87sbShMzXCP4Al3z5_rd319bxKDvWOOx1bmDOlx1SOmGqmK5Wjw-WkSrnDL-H04BGUGqRbB6UJSUZFxnARnV5NX8da9kyHDz7sQjf37cbd2r89oUli&amp;source=gmail&amp;ust=1574389482269000&amp;usg=AFQjCNGzeQCgq8MUxtKseAlBqIreEhN-og">Verifikasi
                                                                                                            Email
                                                                                                            Saya</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <p
                                                                            style="Margin:0;Margin-bottom:10px;color:#757575;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:28px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                            Jika
                                                                            tombol
                                                                            di
                                                                            atas
                                                                            tidak
                                                                            berfungsi,
                                                                            mohon
                                                                            salin
                                                                            link
                                                                            di
                                                                            bawah
                                                                            ini
                                                                            ke
                                                                            browser
                                                                            Anda
                                                                            atau
                                                                            tekan
                                                                            langsung
                                                                            link
                                                                            di
                                                                            bawah:
                                                                        </p>
                                                                        <p
                                                                            style="Margin:0;Margin-bottom:10px;color:#757575;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:28px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                            <a href="http://email.web.go-jek.com/c/eJwljstuxCAMRb8m2RVhTHgssqjS5D9MgIR2CBGT0fx-SStZ9r1eHB0_RukdrH0aBQcL0DaXFiQDhgvIGa0SEyrB56mT_B0c28rHd_hha8n9PnqjB4zcugCALnDLnTFBD9oioVK6f4z7dZ3PDj87sbShMzXCP4Al3z5_rd319bxKDvWOOx1bmDOlx1SOmGqmK5Wjw-WkSrnDL-H04BGUGqRbB6UJSUZFxnARnV5NX8da9kyHDz7sQjf37cbd2r89oUli"
                                                                                style="Margin:0;color:#2199e8;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"
                                                                                target="_blank"
                                                                                data-saferedirecturl="https://www.google.com/url?q=http://email.web.go-jek.com/c/eJwljstuxCAMRb8m2RVhTHgssqjS5D9MgIR2CBGT0fx-SStZ9r1eHB0_RukdrH0aBQcL0DaXFiQDhgvIGa0SEyrB56mT_B0c28rHd_hha8n9PnqjB4zcugCALnDLnTFBD9oioVK6f4z7dZ3PDj87sbShMzXCP4Al3z5_rd319bxKDvWOOx1bmDOlx1SOmGqmK5Wjw-WkSrnDL-H04BGUGqRbB6UJSUZFxnARnV5NX8da9kyHDz7sQjf37cbd2r89oUli&amp;source=gmail&amp;ust=1574389482269000&amp;usg=AFQjCNGzeQCgq8MUxtKseAlBqIreEhN-og">https://api.gojek.co.id/gojek/<wbr>customer/<wbr>changeEmailConfirmation?param=<wbr>2b75d316654bc567a3a4f6a8802fb7<wbr>c8</a>
                                                                        </p>
                                                                    </th>
                                                                    <th
                                                                        style="Margin:0;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;width:0">
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div style="border-bottom:1px solid #e7e7e7;margin:20px 16px">
                                        </div>
                                        <table
                                            style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                    <th
                                                        style="Margin:0 auto;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:30px;padding-right:30px;text-align:left;width:570px">
                                                        <table
                                                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                            <tbody>
                                                                <tr
                                                                    style="padding:0;text-align:left;vertical-align:top">
                                                                    <th
                                                                        style="Margin:0;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                        <p
                                                                            style="Margin:0;Margin-bottom:10px;color:#757575;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                            Email
                                                                            ini
                                                                            dikirimkan
                                                                            secara
                                                                            otomatis.
                                                                            Mohon
                                                                            tidak
                                                                            membalas
                                                                            ke
                                                                            email
                                                                            ini.
                                                                        </p>
                                                                        <table
                                                                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                                            <tbody>
                                                                                <tr
                                                                                    style="padding:0;text-align:left;vertical-align:top">
                                                                                    <td height="10pxpx"
                                                                                        style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:10pxpx;font-weight:400;line-height:10pxpx;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <p
                                                                            style="Margin:0;Margin-bottom:10px;background-color:#eee;border:1px solid #d6d6d6;color:#3d3d3d;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:21px;margin:0;margin-bottom:10px;padding:15px;text-align:left">
                                                                            Mohon
                                                                            agar
                                                                            berhati-hati
                                                                            terhadap
                                                                            pihak
                                                                            lain
                                                                            yang
                                                                            menggunakan
                                                                            nama
                                                                            GO-JEK
                                                                            untuk
                                                                            mendistribusikan
                                                                            voucher
                                                                            atau
                                                                            meminta
                                                                            data
                                                                            pribadi
                                                                            anda.
                                                                            GO-JEK
                                                                            tidak
                                                                            pernah
                                                                            meminta
                                                                            kata
                                                                            sandi
                                                                            (password)
                                                                            atau
                                                                            data
                                                                            pribadi
                                                                            anda
                                                                            melalui
                                                                            email,
                                                                            pesan
                                                                            pribadi
                                                                            atau
                                                                            melalui
                                                                            media
                                                                            lainya.
                                                                        </p>
                                                                    </th>
                                                                    <th
                                                                        style="Margin:0;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;width:0">
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table
                                            style="border-collapse:collapse;border-spacing:0;border-top:1px dashed #c3c3c3;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                    <th
                                                        style="Margin:0 auto;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:30px;padding-bottom:16px;padding-left:30px;padding-right:30px;text-align:center;width:570px">
                                                        <table
                                                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                            <tbody>
                                                                <tr
                                                                    style="padding:0;text-align:left;vertical-align:top">
                                                                    <th
                                                                        style="Margin:0;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                                        <h3
                                                                            style="Margin:0;Margin-bottom:10px;color:#7b7b7b;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:11.67px;font-weight:700;line-height:1.3;margin:0;margin-bottom:15px;padding:0;text-align:center;word-wrap:normal">
                                                                            Ikuti
                                                                            kami
                                                                        </h3>
                                                                        <div
                                                                            style="margin-bottom:15px;text-align:center">
                                                                            <a href="http://email.web.go-jek.com/c/eJwVjcEOgyAQRL9GbjW7CyIcODRG_0NkK7RVGiXx94vJZJJJ3swE91LB4yKSI0CLWB2URdViKydUo7SaBqkJxqFRcLFv1_x486dd8iai80QdsOwNaTYGQCIYazuroWcPSye-LpbyOxv5bGiqKlcqhY-7XtOa61TaQ975TLM43JHjNu-BA0fq6-G6zel7w38ffTHJ"
                                                                                style="Margin:0;background:url(https://ci5.googleusercontent.com/proxy/Xr5orqgXV8wlq9J_6GGrTPbb9OkfgYyJXAsEAnNrwZilBYfRWnigJ4HjZrdxq1pOR56UxwCviEIPvqe1pGXCektR96ysJUlJTGyWLpkZ=s0-d-e1-ft#https://d1o6t6wdv45461.cloudfront.net/s4/emails/twitter.png) no-repeat center center;background-color:#bdbdbd!important;border-radius:50%;color:#2199e8;display:inline-block;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-weight:400;height:32.28px;line-height:1.3;margin:0 2px;padding:0;text-align:left;text-decoration:none;width:32.28px"
                                                                                target="_blank"
                                                                                data-saferedirecturl="https://www.google.com/url?q=http://email.web.go-jek.com/c/eJwVjcEOgyAQRL9GbjW7CyIcODRG_0NkK7RVGiXx94vJZJJJ3swE91LB4yKSI0CLWB2URdViKydUo7SaBqkJxqFRcLFv1_x486dd8iai80QdsOwNaTYGQCIYazuroWcPSye-LpbyOxv5bGiqKlcqhY-7XtOa61TaQ975TLM43JHjNu-BA0fq6-G6zel7w38ffTHJ&amp;source=gmail&amp;ust=1574389482269000&amp;usg=AFQjCNEGgZICA5kbZnaFX_nR8F18i90IMw"></a>
                                                                            <a href="http://email.web.go-jek.com/c/eJwdjcEOgyAQRL9GbiW7gFYOHBqj_wHsKrQqjZr090ubTCaZ5M0MudlQwCiyU4AWsToYi0ai1BOaUdtODbpTMA6NgQ8HuZTbk18ylk0kB75FUohAgYOJnnsiamEGxT0qtGJ16breZ6MfjZqqZh85lPLv17iUupV3Kjuf2YvDHSVtficmTupeH5fN5_UHfwHF0DNN"
                                                                                style="Margin:0;background:url(https://ci6.googleusercontent.com/proxy/BT-G8rrd7ucdCD58CtsqFznERKThxEQc1GUs-V21uSiHFUvXa0RmXc_kWN0akR9hoSiGsRuKIGS_vMVuIwx0YfL0-WOHo6K6lGsu_bxGzQ=s0-d-e1-ft#https://d1o6t6wdv45461.cloudfront.net/s4/emails/facebook.png) no-repeat center center;background-color:#bdbdbd!important;border-radius:50%;color:#3b5998;display:inline-block;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-weight:700;height:32.28px;line-height:1.3;margin:0 2px;padding:0;text-align:left;text-decoration:none;width:32.28px"
                                                                                target="_blank"
                                                                                data-saferedirecturl="https://www.google.com/url?q=http://email.web.go-jek.com/c/eJwdjcEOgyAQRL9GbiW7gFYOHBqj_wHsKrQqjZr090ubTCaZ5M0MudlQwCiyU4AWsToYi0ai1BOaUdtODbpTMA6NgQ8HuZTbk18ylk0kB75FUohAgYOJnnsiamEGxT0qtGJ16breZ6MfjZqqZh85lPLv17iUupV3Kjuf2YvDHSVtficmTupeH5fN5_UHfwHF0DNN&amp;source=gmail&amp;ust=1574389482269000&amp;usg=AFQjCNGpvk8T3phnIz8T6W6dSuXgaau6dw"></a>
                                                                            <a href="http://email.web.go-jek.com/c/eJwljtEKhCAQRb8m3xRHXcsHH5ao_7CcTXdLowLZv19j4XIYhpnD9fal_AQziVZwMACVXBlQDJgcQQ3SaNFLLfjQN4oXnNiS6Rs_bM4bCVajNx0a2WE9VNBqw7nvODw0VC1OZLXhuvazkc9GjDWlFLbG9EEf0-2oq8rdpW-d9ovSv57G5HPCMzpy2COHzSWPHoNoa4tlc3G9n3-usjle"
                                                                                style="Margin:0;background:url(https://ci6.googleusercontent.com/proxy/2AL8NO5pkYlakxlIjIjc4yjp4f3wO3fntK_IgKwvEA_6kfOjqmvDm2TpsxJmM3g_cU3pEsoDPEoev5HH-rrDOPwaEXMG2TKL4xJVfCbBVQ=s0-d-e1-ft#https://d1o6t6wdv45461.cloudfront.net/s4/emails/linkedin.png) no-repeat center center;background-color:#bdbdbd!important;border-radius:50%;color:#2199e8;display:inline-block;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-weight:400;height:32.28px;line-height:1.3;margin:0 2px;padding:0;text-align:left;text-decoration:none;width:32.28px"
                                                                                target="_blank"
                                                                                data-saferedirecturl="https://www.google.com/url?q=http://email.web.go-jek.com/c/eJwljtEKhCAQRb8m3xRHXcsHH5ao_7CcTXdLowLZv19j4XIYhpnD9fal_AQziVZwMACVXBlQDJgcQQ3SaNFLLfjQN4oXnNiS6Rs_bM4bCVajNx0a2WE9VNBqw7nvODw0VC1OZLXhuvazkc9GjDWlFLbG9EEf0-2oq8rdpW-d9ovSv57G5HPCMzpy2COHzSWPHoNoa4tlc3G9n3-usjle&amp;source=gmail&amp;ust=1574389482269000&amp;usg=AFQjCNGtQ_POjLd5tHvrDEvuTb0QOZQWSg"></a>
                                                                            <a href="http://email.web.go-jek.com/c/eJwVjU0KwyAYRE8TdxU_NYoLFyUk9_Bf20RLEvD6NTDM4jG88Tpyb8GhoikBBTCacAUcA2Yb8JUpQRcmKFmXiZMeLE7t9Qlf7NqBsuaOSzuDN3SerZIyggMhTYxEUGG5QbvO9_27Jvae6DbSe8elXrdJpzkeyWCpDWGpvtVwFTMAOvXZ8mGqDz5kKsdzOkzZn_0fU9o1ww"
                                                                                style="Margin:0;background:url(https://ci6.googleusercontent.com/proxy/Xf_wyLMgggpSUk-yxe9BGZZJoehhFl5R0yEss70lRPhhGIsOPtLhjdgwiMOC5u3WpLvTKdS8Vi0c9dxdYTsZzFTdY9tZOe4HWoHnVg=s0-d-e1-ft#https://d1o6t6wdv45461.cloudfront.net/s4/emails/insta.png) no-repeat center center;background-color:#bdbdbd!important;border-radius:50%;color:#2199e8;display:inline-block;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-weight:400;height:32.28px;line-height:1.3;margin:0 2px;padding:0;text-align:left;text-decoration:none;width:32.28px"
                                                                                target="_blank"
                                                                                data-saferedirecturl="https://www.google.com/url?q=http://email.web.go-jek.com/c/eJwVjU0KwyAYRE8TdxU_NYoLFyUk9_Bf20RLEvD6NTDM4jG88Tpyb8GhoikBBTCacAUcA2Yb8JUpQRcmKFmXiZMeLE7t9Qlf7NqBsuaOSzuDN3SerZIyggMhTYxEUGG5QbvO9_27Jvae6DbSe8elXrdJpzkeyWCpDWGpvtVwFTMAOvXZ8mGqDz5kKsdzOkzZn_0fU9o1ww&amp;source=gmail&amp;ust=1574389482269000&amp;usg=AFQjCNFEewFq89RUUfauuOmtFV6q8gp_4Q"></a>
                                                                            <a href="http://email.web.go-jek.com/c/eJwVjssKwjAURL-m3RmS3GvbLLLQUjddKIi4lDaPRk0T0Urw701hGIazOIyWFvXIVHmXnDLBWG6KgiFhBA4MOxAVb6HitGsLpMmMZIqbh3kSFefSSaMQBlFbQy0FpXkjRgU1otDQVJbWpZduWV6fAnYFP-SklMgvfpfvaFZFJsoNIRif16WdfX_u6bEPtz3EU-r8FcM2lW_5jm4egjbaOF7nI9M83P0q-AOEEzod"
                                                                                style="Margin:0;background:url(https://ci6.googleusercontent.com/proxy/WIr3O0VwLZv_Rf9fh7chhMRONoJ14C2GFSYtwtdz5tVrUoHVAgroz8_DbVmxbVVRXsRR5NaNv7umB4I2HF0sxguaIjwpfE1JD19AwGck=s0-d-e1-ft#https://d1o6t6wdv45461.cloudfront.net/s4/emails/youtube.png) no-repeat center center;background-color:#bdbdbd!important;border-radius:50%;color:#2199e8;display:inline-block;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-weight:400;height:32.28px;line-height:1.3;margin:0 2px;padding:0;text-align:left;text-decoration:none;width:32.28px"
                                                                                target="_blank"
                                                                                data-saferedirecturl="https://www.google.com/url?q=http://email.web.go-jek.com/c/eJwVjssKwjAURL-m3RmS3GvbLLLQUjddKIi4lDaPRk0T0Urw701hGIazOIyWFvXIVHmXnDLBWG6KgiFhBA4MOxAVb6HitGsLpMmMZIqbh3kSFefSSaMQBlFbQy0FpXkjRgU1otDQVJbWpZduWV6fAnYFP-SklMgvfpfvaFZFJsoNIRif16WdfX_u6bEPtz3EU-r8FcM2lW_5jm4egjbaOF7nI9M83P0q-AOEEzod&amp;source=gmail&amp;ust=1574389482269000&amp;usg=AFQjCNHCPDn85aMUqE2ZbBZSJMsd9zwl_g"></a>
                                                                        </div>
                                                                        <p
                                                                            style="Margin:0;Margin-bottom:10px;color:#7b7b7b;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center">
                                                                            Ada
                                                                            pertanyaan?
                                                                            Hubungi
                                                                            Kami
                                                                            di
                                                                            <a href="mailto:customerservice@go-jek.com"
                                                                                style="Margin:0;color:#757575;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"
                                                                                target="_blank"><strong
                                                                                    style="display:inline-block">customerservice@go-jek.com</strong></a>
                                                                        </p>
                                                                    </th>
                                                                    <th
                                                                        style="Margin:0;color:#0a0a0a;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;width:0">
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
        </div>
        <img width="1px" height="1px" alt=""
            src="https://ci3.googleusercontent.com/proxy/jpc7gmvCgVEqT2YqsaRXSFmwmzuAOg2Rs7Z-GKSPlB_MtaPqcXGTLg0g3RUIK6R2_CQ57huja5XyOJ3Hq4syS0CMXSItU_EcB8EVQqosX6HpH5JhSOreo7XS7k7i4Jy44z8p1EnM9j4eeOFcCRc5Gcw-bPo8NDA12yTNV6DpxC8-VaGRiXbT1CUEoKAuC6AtsZQaZGet2LrX3lIaUWyBJ7jbjd6irTaoHTYdv397PhwXSsuIrheLPMBik7_wgANdY90QAYUJawVp0hM-=s0-d-e1-ft#http://email.web.go-jek.com/o/eJwVzD0SgyAQQOHThC4MC8vPFlSOuQe4q2iCzNjk-jHN677HeUWusKg9WwMEcNcgAWrQ7gU4Owp2csGaeXqg-UrV23ge8tbL6KrlSBhDYu-9oxIEKcbEhFXEJMdI6srXaL2cLCzNxvux9bJ__vwH4Fwilg"
            class="CToWUd">
    </div>
    <div class="yj6qo"></div>
    <div class="adL">



</body>

</html>